.App {
  text-align: center;
  display: flex;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper-left{
  display: flex;
  flex-direction: column;
  width: 70%;
}

.title-block{
  background-color:#468B5C;
  width: 450px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}

.title-text{
  color: white;
  font-weight: bold;
}

.wrapper-right{
  display: flex;
  flex-direction: column;
  width: 30%;
}

.branding-block{
  display:flex;
  flex-direction: column;
}

.school{
  font-weight: bold;
}
.lab{
  font-weight: bold;
}