.Console {
    width: 500px;
    height: 500px;
    margin: 100px auto;
}

.current {
    margin: 50px;

    background: white;
    padding: 10px;
    border-radius: 30px;
    color: #515151;
}

.admin-button {
    border: none;

}






