.tweet-feed {
    width: 100%;
    margin-top: 20px;
    height: 700px;
    border: 4px solid #47A1EC;
    border-radius: 10px;
}

.header {
	height: 50px;
	line-height: 50px;
	margin-bottom: 1px;
    font-weight: bold;
    background-color: #47A1EC;
    color: white;
    font-size: 20px;
}